@font-face {
  font-family: "Rubik";
  src: url("assets/fonts/Rubik.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #f7f7f7;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.main {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.075);
  max-width: 1000px;
  margin: 20px auto;
}

.section-title {
  font-size: 22px;
  color: #2b8a3e;
  letter-spacing: 4px;
  padding-bottom: 10px;
}

/*  Section-summary */

.section-desc {
  font-size: 18px;
  line-height: 1.6;
}

/* Section-list */

.section-list {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.section-item {
  position: relative;
  display: flex;
  gap: 8px;
  font-size: 18px;
  padding-left: 25px;
}

.section-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border: 1px solid #2b8a3e;
  border-radius: 50%;
  z-index: 0;
}

.section-item span,
.section-item-link {
  color: #2b8a3e;
}

/* Header */

.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #4b274b;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  column-gap: 25px;
  align-items: center;
  min-height: 8vh;
  list-style: none;
  padding-right: 20px;
}

.nav-link {
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  color: #ffffff;
  border-bottom: 1px solid transparent;
  transition: border 0.5s ease;
}

.nav-link:hover {
  border-color: #ffffff;
}

/* Section profile */

.profile {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: #4b274b;
}

.profile-avatar {
  width: 150px;
  height: 150px;
}
.profile-img {
  width: 100%;
  height: 100%;
  border: 2px solid #55c57a;
  object-fit: cover;
  border-radius: 50%;
}

.main-title {
  font-size: 32px;
  letter-spacing: 5px;
  padding-block: 10px;
  font-weight: 300;
  color: #ffffff;
}
.main-subtitle {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #eeeeee;
  font-weight: 500;
}

/* Section-contacts */

.contacts {
  grid-column: 1/-1;
  padding: 20px 30px;
  background-color: #311330;
  color: #ffffff;
}
.contacts-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 12px;
  column-gap: 30px;
}

.contacts-item {
  display: flex;
  column-gap: 8px;
}

/* Main info */

.main-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px 30px;
  gap: 30px;
}

/* Section code */

.code-wrapper {
  position: relative;
  background-color: #f1f0f0;
  padding: 2px 20px;
  border-radius: 5px;
  overflow: auto;
}

.code-block {
  font-family: Courier, monospace;
  font-size: 16px;
  color: #333333;
}

.copy-icon,
.copied-text {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.copied-text {
  display: none;
  font-size: 14px;
  color: #333333;
  font-weight: 500;
}

/* Section education */

.education-text,
.language-text {
  font-size: 18px;
  padding-bottom: 14px;
}

/* Footer */

.footer {
  font-size: 18px;
  background-color: #4b274b;
  color: #ffffff;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 6vh;
}

.footer-year {
  margin-right: 10px;
}

.rss {
  display: inline-block;
  width: 250px;
  min-height: 4vh;
  background-image: url("../assets/icons/rss.svg");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
