@font-face {
  font-family: 'Rubik';
  src: url('assets/fonts/Rubik.ttf');
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: #f7f7f7;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.main {
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.075);
  max-width: 100rem;
  margin: 2rem auto;
}

.section {
  scroll-margin-top: 8vh;
}

.section-title {
  font-size: 2.2rem;
  color: #2b8a3e;
  letter-spacing: 0.4rem;
  padding-bottom: 1rem;
}

/*  Section-summary */

.section-desc {
  font-size: 1.8rem;
  line-height: 1.6;
}

/* Section-list */

.section-list {
  display: flex;
  flex-direction: column;
  row-gap: 1.4rem;
}

.section-item {
  position: relative;
  display: flex;
  gap: 0.8rem;
  font-size: 1.8rem;
  padding-left: 2.8rem;
}

.section-item::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  border: 1px solid #2b8a3e;
  border-radius: 50%;
  z-index: 0;
}

.section-item span,
.section-item-link {
  color: #2b8a3e;
}

/* Header */

.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: #4b274b;
  z-index: 100;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 144rem;
  min-height: 8vh;
  margin: 0 auto;
  padding: 1rem 5%;
}

.nav-list {
  display: flex;
  column-gap: 2.5rem;
  align-items: center;
  list-style: none;
}

.nav-close,
.nav-toggle {
  display: none;
}

.nav-icon {
  font-size: 2.4rem;
}

.nav-link,
.github-link {
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 500;
  color: #ffffff;
  border-bottom: 1px solid transparent;
  transition: border 0.5s ease;
}

.nav-link:hover,
.github-link:hover {
  border-color: #ffffff;
}

.nav-close,
.nav-toggle {
  font-size: 2rem;
  cursor: pointer;
  color: #ffffff;
}

/* Section profile */

.profile {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  background-color: #4b274b;
}

.profile-avatar {
  width: 15rem;
  height: 15rem;
}
.profile-img {
  width: 100%;
  height: 100%;
  border: 2px solid #55c57a;
  object-fit: cover;
  border-radius: 50%;
}

.main-title {
  font-size: 3.2rem;
  letter-spacing: 0.5rem;
  padding-block: 1rem;
  font-weight: 300;
  color: #ffffff;
}
.main-subtitle {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: #eeeeee;
  font-weight: 500;
}

/* Section-contacts */

.contacts {
  grid-column: 1/-1;
  padding: 2rem 3rem;
  background-color: #311330;
  color: #ffffff;
  z-index: 99;
}
.contacts-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1.2rem;
  column-gap: 3rem;
}

.contacts-item {
  font-size: 1.6rem;
  display: flex;
  column-gap: 0.8rem;
}

/* Main info */

.main-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem 3rem;
  gap: 3rem;
}

/* Section code */

.code-wrapper {
  position: relative;
  background-color: #f1f0f0;
  padding: 0.2rem 2rem;
  border-radius: 5px;
  overflow: auto;
}

.code-block {
  font-family: Courier, monospace;
  font-size: 1.6rem;
  color: #333333;
}

.copy-icon,
.copied-text {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 5px 10px;
  font-size: 1.4rem;
  cursor: pointer;
}

.copied-text {
  display: none;
  font-size: 1.4rem;
  color: #333333;
  font-weight: 500;
}

/* Section education */

.education-text,
.language-text {
  font-size: 1.8rem;
  padding-bottom: 1.4rem;
}

/* Footer */

.footer {
  font-size: 1.8rem;
  background-color: #4b274b;
  color: #ffffff;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 144rem;
  min-height: 7vh;
  padding-left: 5%;
  padding-right: 5%;
}

.footer-year {
  margin-right: 1rem;
}

.rss {
  display: inline-block;
  width: 10rem;
  min-height: 4vh;
  background-image: url('../assets/icons/rss.svg');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
